@import "remixicon/fonts/remixicon.css";
@import "tailwindcss";

@theme {
  --color-background: #222222;
  --color-surface: #1a1a1a;
  --color-elevated: #222222;

  --color-primary: #f97316;
  --color-primary-hover: #ea650d;
  --color-primary-soft: #472c19;

  --color-text: #ffffff;
  --color-muted: #a1a1aa;

  --color-border: #ffffff1a;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: #111111;
  color: white;
}

button,
input,
textarea {
  font: inherit;
}
